
<div class="page-container">

    <div class="wrapper">
         <form  class="form" (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm"  autocomplete="off" >
            <h1 class="title">Sign up</h1>
            <!-- RUOLO -->
           <div class="role-toggle">
                <span class="pill"
                    [class.active]="role === 'USER'"
                    (click)="setRole('USER')">
                    User
                </span>

                <span
                    class="pill"
                    [class.active]="role === 'ADMIN'"
                    (click)="setRole('ADMIN')">
                    Admin
                </span>
            </div>

            <!-- USERNAME -->
            <div class="inp">
                <input type="text" class="input" placeholder="Username" name="username" [(ngModel)]="username" required  minlength="1"  maxlength="10" #usernameCtrl="ngModel"/>
                
                <p class="field-error" *ngIf="usernameCtrl.invalid && usernameCtrl.touched">Username da 1 a 10 caratteri</p>
            </div>

            <!-- EMAIL -->
            <div class="inp">
                 <input type="email" class="input" placeholder="Email Address" name="email" [(ngModel)]="email"  required email #emailCtrl="ngModel" />
                 
                 <p class="field-error" *ngIf="emailCtrl.invalid && emailCtrl.touched">Email non valida</p>
            </div>

            <!-- ADMIN KEY -->
            <div  class="inp" *ngIf="role === 'ADMIN'" >
                 <input type="password" class="input" placeholder="Admin Key" name="adminKey" [(ngModel)]="adminKey" required #adminKeyCtrl="ngModel" />
                 <p class="field-error" *ngIf="adminKeyCtrl.invalid && (adminKeyCtrl.touched || submitted)">Admin Key obbligatoria</p>
            </div>

            <!-- PASSWORD -->
            <div class="inp">
                 <input type="password" class="input" placeholder="Password" name="password" [(ngModel)]="password"  required  [pattern]="passwordRegex.source"  #passwordCtrl="ngModel" />
                
                <p class="field-error" *ngIf="passwordCtrl.invalid && (passwordCtrl.touched || submitted)">Min 6 caratteri, maiuscola, minuscola, numero e speciale</p>
            </div>

            <!-- CONFIRM PASSWORD -->
            <div class="inp">
                <input type="password" class="input" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword"   required  #confirmCtrl="ngModel"/>
               
                 <p class="field-error" *ngIf="submitted && password !== confirmPassword"> Le password non coincidono</p>
            </div>

            <!-- BOTTONE  -->
            <button class="submit"
                    type="submit"  
                    [disabled]="signupForm.invalid || isLoading">
                
                {{ isLoading ? 'Registrazione...' : 'Sign up' }}
            </button>

             <!-- ERRORE GENERALE -->
            <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
                        
            <p class="footer"> Already have an account? <a routerLink="/signin" class="link">Signin</a> </p>
            
        </form>
        <div></div>
        <div class="banner">
            <h6 class="wel_text">Welcome to the RESQ system</h6><br>
            <p class="para"></p>
        </div>
    </div>

    
</div>

    

<!-- ================= TOAST NOTIFICATIONS ================= -->

<!-- TOAST SUCCESS -->
<div *ngIf="showSuccess" class="custom-toast success-toast">
  {{ successMessage }}
</div>

<!-- TOAST ERROR -->
<div *ngIf="showError" class="custom-toast error-toast">
  {{ errorMessageToast }}
</div>


<!-- MODAL -->
<div class="custom-modal" *ngIf="showModal">

  <div class="modal-box">

    <!-- ICON -->
    <div
      class="icon"
      [ngClass]="modalType === 'success' ? 'success' : 'error'"
    >
      <span *ngIf="modalType === 'success'">✔</span>
      <span *ngIf="modalType === 'error'">✖</span>
    </div>

    <!-- TITLE -->
    <h3>
      {{ modalType === 'success' ? 'Success!' : 'Error' }}
    </h3>

    <!-- MESSAGE -->
    <p>{{ modalMessage }}</p>

    <!-- BUTTON -->
    <button (click)="closeModal()">
      OK
    </button>

  </div>

</div>




           